    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>프로필</h2>
              <br/>
                <p>이름 : 강우건</p>
		<p>닉네임 : wooasnow
                <p>소속 : <a href="https://ce.jejunu.ac.kr/">제주대학교 컴퓨터공학전공</a></p>
		<p>학번 : 2019108247</p>
		<p>이메일 : <a href="mailto:kwg052450@gmail.com">kwg052450@gmail.com </a></p>
		<p>GitHub : <a href="https://github.com/wooasnow">https://github.com/wooasnow</a></p>
                <br/>
              </div>
        </div>
    </section>
